bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
.assistant_id
node_modules
dist
build/
installer/

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
venv311/
venv_new/
ENV/
env.bak/
venv.bak/

cache/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json


extensions.json

# Cache files
*-Connections.json
*-Mutual-Connections.json
browser_state.json
chatgpt_cookies.json
